
.about-achievement{
    margin-top: 3rem;
}

.about-con{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about-right > p{
    
    margin: 1.6rem 0 2.5rem;
}

.achievements-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.achievement-card{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.achievement-card:hover{
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, .3);
}

.acievement-icon{
    background: var(--color-danger);
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.achievement-card:nth-child(2) .acievement-icon{
    background: var(--color-success);
}

.achievement-card:nth-child(3) .acievement-icon{
    background: var(--color-primary);
}

.achievement-card p {
    margin-top: 1rem;
}
/*  */

.team{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, .3);
}

.team-con{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team-member{
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    transition: var(--transition);
    overflow: hidden;
    position: relative;
}

.team-member:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.tm-img img{
    filter: saturate(0);
}
.tm-img:hover img{
    filter: saturate(1);
}

.tm-info *{
    text-align: center;
    margin-top: 1.4rem;
}

.tm-info p{
    color: var(--color-light);
}

.tm-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, .3);
    transition: var(--transition);
}

.team-member:hover .tm-socials {
    right: 0;
}

.tm-socials a {
    padding: 1rem;
}
/*  */

@media screen and (max-width: 1024px) {
    .about-achievement{
        margin-top: 2rem;
    }
    .about-con{
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about-left {
        width: 80%;
        margin: 0 auto;
    }

    .team-con{
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
    }

    .team-member{
        padding: 1rem;
    }
    
}
/*  */

@media screen and (max-width: 600px) {
    .achievements-cards {
        grid-template-columns: 1fr 1fr;
        gap: .7rem;
    }

    .team-con{
        grid-template-columns: 1fr 1fr;
        gap: .7rem;
    }
    .team-member{
        padding: 0;
    }
    .team-member p{
        margin-bottom: 1.5rem;
    }
}